* {
  font-family: 'Lato', sans-serif;
}

.disp-data {
  width: 90%;
  padding: 20px;
  display: none;
}

.is-shown { display: block; }
.is-hidden { display: none; }

.disp-data p { margin-top: 0; }

#dealer-data { background-color: lightblue; }
#player-data { background-color: lightsteelblue; }

.disp-data img {
  width: 100px;
  display: inline-block;
}

button {
  display: inline-block;
  padding: 10px 20px;
}