* {
	font-family: 'Lato', sans-serif;
}

h2,
h3 {display: none}

button {
	padding: 10px 20px;
	display: none;
}


.disp-data {
	width: 500px;
	padding: 20px;
	display: none;
}
	.disp-data p { margin-top: 0; }
	.disp-data img {
		width: 100px;
		display: inline-block;
	}

.dealer-data { background-color: rgb(228, 176, 176); }
.player-data { background-color: rgba(228, 176, 176, 0.8); }

.game-buttons { margin-top: 20px; }

/* Utility Classes */
.show-block { display: block; }
.show-inline-block { display: inline-block; }

